#wp-admin-bar-machete-clone .ab-icon:before{
	content: '';
	width: 20px;
	height: 24px;
	display: block;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px 20px;

	background-image: url("data:image/svg+xml;utf8,<svg id='dolly' data-name='dolly' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18' width='18' height='18'><path d='M11.74,7.1a2.61,2.61,0,0,1-.6.22,2.62,2.62,0,0,1-4.3,0,2.61,2.61,0,0,1-.6-.22A5.05,5.05,0,0,1,3.2,8.86v.59a2.64,2.64,0,0,0,.36,1.34L5,13.26a1.59,1.59,0,0,1,.22.77l0,1.32A2.71,2.71,0,0,0,7.9,18h.57V15.72a1.58,1.58,0,0,1-1.05-1.48.53.53,0,1,1,1.05,0,.53.53,0,1,0,1.05,0,.53.53,0,1,1,1.05,0,1.58,1.58,0,0,1-1.05,1.48V18h.57a2.71,2.71,0,0,0,2.64-2.65l0-1.34a1.58,1.58,0,0,1,.22-.77l1.45-2.46a2.64,2.64,0,0,0,.37-1.34V8.86A5,5,0,0,1,11.74,7.1ZM6.89,10.55A.53.53,0,1,1,7.42,10,.53.53,0,0,1,6.89,10.55Zm4.22,0a.53.53,0,1,1,.53-.53A.53.53,0,0,1,11.11,10.55Z' fill='#ffc266'/><path d='M12.7,2.11a5.09,5.09,0,0,0-.56.07c-.54-1-.82-1-1.63-1.14a1.61,1.61,0,0,0-3,0A1.69,1.69,0,0,0,5.87,2.17a5,5,0,0,0-.56-.06A1.6,1.6,0,0,0,3.73,3.69,1.6,1.6,0,0,0,5.31,5.27a5.39,5.39,0,0,0,.56-.06c.54,1,.82,1,1.63,1.14a1.61,1.61,0,0,0,3,0c.8-.1,1.09-.18,1.63-1.14a5,5,0,0,0,.56.06,1.6,1.6,0,0,0,1.58-1.58A1.6,1.6,0,0,0,12.7,2.11Z' fill='#fff'/><path d='M17.8,6.44l-2.59-2a2.67,2.67,0,0,1-2.52,1.93h0l-.11.12a4.08,4.08,0,0,0,3.1,1.43,4,4,0,0,0,2.07-.58.53.53,0,0,0,.06-.86Z' fill='#ffc266'/><path d='M5.32,6.33h0a2.66,2.66,0,0,1-1.85-.77A2.63,2.63,0,0,1,2.78,4.4L.2,6.44a.53.53,0,0,0,.06.86,4.13,4.13,0,0,0,2.1.58A4,4,0,0,0,5.43,6.45Z' fill='#ffc266'/></svg>");
}

@media screen and (max-width: 782px) {
	#wpadminbar #wp-admin-bar-machete-clone {
		display: block;
		position: static;
	}
	#wp-admin-bar-machete-clone .ab-icon:before {
		width: 52px;
		height: 46px;
		background-position: 50% 8px;
		background-size: 30px;
	}
}
