#wpadminbar .machete-maintenance-active > .ab-item{
	color:#fff;
	background-color: #f90;
}

#wpadminbar .machete-maintenance-active:hover > .ab-item{
	background-color: #a30 !important;
	color:#fff !important;;
}

#maintenance_page {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.25;
	background: #eee;
}

#maintenance_page #content {
	display: block;
	max-width: 768px;
	margin: 0 auto;
	text-align: center;
}

/* defult content styles */
#maintenance_page #content.default {
	padding-top: 45px;
}
#maintenance_page #content.default h1{
	font-size: 48px;
	font-weight: bold;
	line-height: 1.25;
	color: #999;
	display: inline-block;
	margin: 0 0 10px;
	padding: 0;
	border-bottom: 1px solid #f90;
	text-transform: uppercase;
}
#maintenance_page #content.default h3 {
	margin: 0 0 15px;
	font-size: 24px;
	line-height: 1.25;
	font-weight: normal;
}
@media (max-width: 480px){
	#maintenance_page #content.default h1 {
		font-size: 36px;
	}
	#maintenance_page #content.default h3 {
		font-size: 18px;
	}
}