#wpadminbar .machete-maintenance-active > .ab-item,
#wpadminbar .machete-coming-soon-active > .ab-item{
	color:#fff;
	background-color: rgba(0,0,0,0.5);
	position: relative;
}
#wpadminbar .machete-maintenance-active > .ab-item:before,
#wpadminbar .machete-coming-soon-active > .ab-item:before {
	content: '';
	display: inline-block;
	vertical-align: bottom;
	width: 12px;
	height: 12px;
	border: 1px solid #fff;
	background-color: #f90;
	border-radius: 7px;
	padding: 0;
	
	position: relative;
	top: 50%;
	-ms-transform: translate(0, -50%); /* IE 9 */
	-webkit-transform: translate(0, -50%); /* Safari */
	transform: translate(0, -50%);

}
#wpadminbar .machete-maintenance-active > .ab-item:before {
	background-color: #c00;
}
