#wpadminbar .csp4-mode-active > .ab-item{
	color:#fff;
	background-color: #f44;
	font-size: 10px !important;
}

#wpadminbar .csp4-mode-active:hover > .ab-item{
	background-color: #a30 !important;
	color:#fff !important;;
}