.machete_cookie_container:before {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 100vw;
	top: 10px;
	left: 50%;
	margin-left: -50vw
}

.machete_cookie_container:before,
.machete_cookie_configbar {
	background-color: #f4f4f4;
	box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.85)
}

.machete_cookie_container,
.machete_cookie_configbar {
	font-size: 14px;
	font-family: sans-serif;
	line-height: 1.25;
	color: #111;
}

.machete_cookie_bar {
	display: flex;
	align-items: flex-start;
	align-content: stretch;
	flex-wrap: wrap;
	gap: 10px 10px;
	position: relative;
	padding: 25px 15px 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}
.machete_cookie_configbar {
	position: absolute;
	bottom: 0;
	left: -5px;
	padding: 0;
	transform-origin: 0 0;
	transform: rotate(-90deg)
}

.machete_cookie_warning_text{
  flex-grow: 1;
}

.machete_cookie_config_btn {
	padding: 15px 15px 10px 40px;
	cursor: pointer;
	font-weight: bold;
	color: #111;
	position: relative;
}
.machete_cookie_config_btn:hover,
.machete_cookie_config_btn:focus {
	box-shadow: inset 0px 0px 0px 2px rgba(17,17,17,1);
}
.machete_cookie_config_btn:before {
	content: '';
	display: block;
	position: absolute;
	left: 15px;
	top: 5px;
	width: 16px;
	height: calc(100% - 5px);
	background-size: contain;
	background: transparent url("data:image/svg+xml,%3Csvg viewBox='0 0 1536 1792' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23111' d='M1024 896q0-106-75-181t-181-75-181 75-75 181 75 181 181 75 181-75 75-181zm512-109v222q0 12-8 23t-20 13l-185 28q-19 54-39 91 35 50 107 138 10 12 10 25t-9 23q-27 37-99 108t-94 71q-12 0-26-9l-138-108q-44 23-91 38-16 136-29 186-7 28-36 28h-222q-14 0-24.5-8.5t-11.5-21.5l-28-184q-49-16-90-37l-141 107q-10 9-25 9-14 0-25-11-126-114-165-168-7-10-7-23 0-12 8-23 15-21 51-66.5t54-70.5q-27-50-41-99l-183-27q-13-2-21-12.5t-8-23.5v-222q0-12 8-23t19-13l186-28q14-46 39-92-40-57-107-138-10-12-10-24 0-10 9-23 26-36 98.5-107.5t94.5-71.5q13 0 26 10l138 107q44-23 91-38 16-136 29-186 7-28 36-28h222q14 0 24.5 8.5t11.5 21.5l28 184q49 16 90 37l142-107q9-9 24-9 13 0 25 10 129 119 165 170 7 8 7 22 0 12-8 23-15 21-51 66.5t-54 70.5q26 50 41 98l183 28q13 2 21 12.5t8 23.5z'/%3E%3C/svg%3E") no-repeat center center;
}

.machete_accept_cookie_btn {
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	text-transform: none;
	font-size: 100%;
	display: block;
	padding: 5px 10px;
	white-space: nowrap;
	border-radius: 8px;
	border: 2px solid #2271b1;
	background-color: #2271b1;
	color: #fff;
}

.machete_accept_cookie_btn:hover,
.machete_accept_cookie_btn:focus{
	color: #fff;
	background-color: #135e96;
	border-color: #135e96;
	text-decoration: none;
}
.machete_accept_cookie_btn:focus {
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #135e96;
}
.machete_accept_cookie_btn.partial {
	background-color: #fff;
	color: #2271b1;
}

.machete_accept_cookie_btn.partial:hover,
.machete_accept_cookie_btn.partial:focus{
	color: #135e96
}

@media (min-width:1024px) {
	.machete_cookie_bar {
	  flex-wrap: nowrap;
	}
}